/* import tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Html Styling */
html {
  scroll-behavior: smooth !important;
}

/* Body Styling */
body {
  @apply bg-body;
}

/* Loading Style */
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #a103d3 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #a103d3);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

/* Utility Class Styling */
.btn {
  @apply text-center px-[20px] text-[0.75rem] Mobile-M:text-[0.85rem] Mobile-L:text-base Mobile-M:px-[25px] py-[7px] Mobile-M:py-[8px] border-primary border cursor-pointer rounded-[0.65rem] Mobile-M:rounded-xl Mobile-L:rounded-btn font-bold;
}

.btn-signin {
  @apply bg-white text-primary;
}

.btn-signup {
  @apply bg-primary text-white;
}

/* Homepage */
.homepage-container {
  @apply flex justify-start items-center flex-col m-auto w-full h-fit Mobile-L:w-pwa bg-white overflow-x-hidden;
}

/* Navigation Bar Component */
.navbar {
  @apply fixed top-0 z-[999] bg-nav-clr shadow-top-bar w-full h-[70px] Mobile-L:h-[80px] flex justify-center items-center;
}

.pwa-component {
  @apply w-pwa px-4 Mobile-L:px-6 flex justify-between items-center;
}

/* Hero Section */
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #dadada !important;
}

.features-box {
  @apply bg-white shadow-top-bar-20 absolute p-4 Mobile-L:px-6 bottom-[2rem] Mobile-L:bottom-[1.5rem] w-[90%] translate-x-[50%] right-[50%] h-[100px] Mobile-L:h-[120px] z-20 rounded-[12px] Mobile-L:rounded-[20px] flex justify-between items-center;
}

.box-arrow {
  @apply cursor-pointer absolute rounded-full text-center w-[25px] h-[25px] Mobile-L:w-[30px] Mobile-L:h-[30px] flex justify-center items-center bg-white z-30 shadow-md;
}

/* Event Section */
.event-container {
  @apply bg-bg-primary h-fit w-full border-y-[0.5rem] Mobile-L:border-y-[.7rem] py-2 pb-3 Mobile-L:py-4 border-[#EEEEEE];
}

/* Carousel */
.swiper-slide {
  width: 15.5rem !important;
  height: 7.8rem !important;
  position: relative !important;
  transform: rotateY(0) !important;
  margin: 1.5rem 1.1rem !important;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  transform: translate3d(0, 0, -120px) !important;
}

.swiper-slide.swiper-slide-active {
  transform: scale(1.1) !important;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination span {
  width: 10px !important;
  height: 7px !important;
  background-color: #dadada !important;
  transition: width 0.3s !important;
  opacity: 1 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 37px !important;
  border-radius: 4px !important;
  background-color: #360146 !important;
}

.carousel-container .swiper-slide-active .event-images {
  width: 800px !important;
  transition: width 0.3s !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}

@media screen and (min-width: 375px) {
  .swiper-slide {
    width: 18rem !important;
    height: 8.5rem !important;
    margin: 1.5rem 1.3rem !important;
  }
}

@media screen and (min-width: 425px) {
  .swiper-slide {
    width: 20rem !important;
    height: 10rem !important;
    margin: 1.5rem 1.6rem !important;
  }
}

/* Card Event */
.card-container {
  @apply self-start flex justify-center items-center gap-4 pl-5 Mobile-L:pl-6 w-fit transition-all duration-300;
}

.upcoming-event {
  @apply flex justify-center items-center flex-col pt-10 gap-[1.5rem];
}

.head-event {
  @apply flex justify-between items-center px-5 Mobile-M:px-6 Mobile-L:px-7 w-full;
}

/* Popular Blog Sections */
.blog {
  @apply flex justify-start items-center flex-col py-10 Mobile-L:py-12 gap-[1.5rem] w-full;
}

.head-blog {
  @apply flex justify-between items-center px-5 Mobile-M:px-6 Mobile-L:px-7 w-full;
}

/* Footer Section */
.footer-container {
  @apply flex justify-center items-center flex-col gap-[2rem] Mobile-M:gap-[2.5rem] px-6 pt-10 pb-6 w-full h-fit bg-[#360146];
}

.head-footer {
  @apply flex justify-between items-start w-full gap-2;
}

.footer-brand {
  @apply flex justify-start items-center flex-col gap-3 Mobile-M:gap-4 Mobile-L:gap-5;
}

.footer-image {
  @apply scale-90 self-start -translate-x-2 Mobile-L:translate-x-0 Mobile-L:scale-100;
}

.tagline-footer {
  @apply text-[0.6rem] Mobile-M:text-[0.65rem] self-start text-[#ECCDF6];
}

.social-media {
  @apply text-[#EEEEEE] flex justify-center self-start items-center gap-2;
}

.social-media-box {
  @apply cursor-pointer hover:bg-[#EEEEEE] hover:text-[#6B028D] transition duration-300 bg-[#6B028D] w-6 h-6 Mobile-M:w-8 Mobile-M:h-8 rounded-full flex justify-center items-center text-center;
}

.footer-list-desc {
  @apply text-[#EEEEEE] flex justify-center items-center Mobile-M:gap-3 Mobile-L:gap-5 gap-[0.35rem] text-[0.5rem] Mobile-M:text-[0.55rem] Mobile-L:text-[0.65rem];
}

.bottom-footer {
  @apply w-full h-fit border-t border-[#6B028D] text-center text-[#EEEEEE] py-4 text-[0.6rem] Mobile-M:text-[0.65rem];
}

/* Sign In and Sign Up */
.input-field #username:focus,
.input-field #phone-number:focus,
.input-field #password:focus {
  outline: none !important;
  box-shadow: none !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #a6a6a6 !important;
}

.head-signup {
  @apply flex justify-between items-end w-full py-4 Mobile-M:py-5 px-5 Mobile-M:px-6 bg-[#FEF6E5];
}

.form-field {
  @apply w-full py-8 px-6 h-fit border-b-[0.5rem] Mobile-L:border-b-[.7rem] border-[#EEEEEE];
}

.input-component {
  @apply px-4 py-2 w-full border-l-0 border-r-0 border-t-0 placeholder:text-[#A6A6A6] text-xs Mobile-M:text-sm placeholder:text-xs Mobile-M:placeholder:text-sm border-[#A6A6A6] Mobile-L:border-b-2 border-b bg-transparent;
}

.submit-btn {
  @apply rounded-[0.65rem] w-full p-[0.65rem] Mobile-M:p-3 text-[#EEEEEE] font-bold bg-primary my-1 Mobile-M:my-2 text-sm Mobile-M:text-base;
}

.submit-btn-disabled {
  @apply rounded-[0.65rem] w-full p-[0.65rem] Mobile-M:p-3 text-[#EEEEEE] font-bold bg-slate-400 my-1 Mobile-M:my-2 text-sm Mobile-M:text-base;
}

.provider-login {
  @apply flex justify-center items-center flex-col text-center gap-8 py-8 Mobile-M:py-10 Mobile-L:py-12;
}

.card-provider {
  @apply cursor-pointer rounded-[12px] w-[60px] h-[60px] Mobile-M:w-[70px] Mobile-M:h-[70px] flex justify-center items-center text-center bg-bg-primary;
}

.violet-union {
  @apply absolute -right-[1.8rem] top-[10.5rem] Mobile-M:-right-[1.8rem] Mobile-M:top-[11.6rem] Mobile-L:-right-[1.5rem] Mobile-L:top-[12.5rem] w-[75px] h-[75px] Mobile-M:w-[80px] Mobile-M:h-[80px] rounded-full bg-[#ECCDF6];
}

.yellow-union {
  @apply absolute right-[0.2rem] top-[6.8rem] Mobile-M:top-[7.8rem] Mobile-M:right-[0.6rem] Mobile-L:top-[8.5rem] Mobile-L:right-[0.8rem] Mobile-M:scale-100 scale-90;
}

/* Detail event */
.upcoming-event-container {
  @apply bg-bg-primary h-fit w-full border-t-[0.5rem] Mobile-L:border-t-[.7rem] pb-3 border-[#EEEEEE];
}

.tickets-entered {
  @apply px-5 Mobile-M:px-6 bg-bg-primary h-fit w-full border-b-[0.5rem] Mobile-L:border-b-[.7rem] py-7 border-[#EEEEEE];
}

.ticket-desc {
  @apply px-3 Mobile-M:px-4 bg-bg-primary h-[150px] overflow-y-scroll w-full;
}

.btn-see-more {
  @apply w-full bg-[#EEEEEE] px-2 py-2 Mobile-M:text-base text-sm Mobile-M:py-3 rounded-xl text-center flex justify-center items-center absolute bottom-0 font-bold text-[#4D4D4D] z-50 gap-2 cursor-pointer transition-all duration-300 ease-in-out;
}

/* Styling scroll bar for elements with overflow-y-scroll */
.ticket-desc {
  scrollbar-color: #FFB400;
  scrollbar-width: thin;
}

.ticket-desc-wrapper {
  @apply w-full h-fit px-3 pr-5 py-7;
}

.ticket-desc::-webkit-scrollbar {
  width: 4px;
}

.ticket-desc::-webkit-scrollbar-thumb {
  background-color: #FFB400;
}

.ticket-desc::-webkit-scrollbar-track {
  background-color: #EEEEEE;
}

